<div class="block-resume">
    <div class="block-resume-item">
        <div class="d-flex flex-row">
            <div class="avatar bg-light-info me-2">
                <div class="avatar-content">
                    <i data-feather="users" class="avatar-icon"></i>
                </div>
            </div>
            <div class="my-auto">
                <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="candidat-total-{{ type }}">{{ candidats[(type == 'mme' ? 'women' : 'men')] }}</h4>
                <p class="card-text font-small-3 mb-0">Kandidà <span class="resume-title">{{ type == 'mme' ? 'vehivavy' : 'lehilahy' }}</span></p>
            </div>
        </div>
    </div>
    <div class="block-resume-item">
        <div class="d-flex flex-row">
            <div class="avatar bg-light-info me-2">
                <div class="avatar-content">
                    <i data-feather="command" class="avatar-icon"></i>
                </div>
            </div>
            <div class="my-auto">
                <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="vote-total-{{ type }}">0</h4>
                <p class="card-text font-small-3 mb-0">Bileta</p>
            </div>
        </div>
    </div>
    <div class="block-resume-item">
        <div class="d-flex flex-row">
            <div class="avatar bg-light-info me-2">
                <div class="avatar-content">
                    <i data-feather="check" class="avatar-icon"></i>
                </div>
            </div>
            <div class="my-auto">
                <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="vote-isgood-{{ type }}" >0</h4>
                <p class="card-text font-small-3 mb-0">Vato manan-kery</p>
            </div>
        </div>
    </div>
    <div class="block-resume-item">
        <div class="d-flex flex-row">
            <div class="avatar bg-light-danger me-2">
                <div class="avatar-content">
                    <i data-feather="x" class="avatar-icon"></i>
                </div>
            </div>
            <div class="my-auto">
                <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="vote-iswhite-{{ type }}">0</h4>
                <p class="card-text font-small-3 mb-0">Vato fotsy</p>
            </div>
        </div>
    </div>
    <div class="block-resume-item">
        <div class="d-flex flex-row">
            <div class="avatar bg-light-danger me-2">
                <div class="avatar-content">
                    <i data-feather="x" class="avatar-icon"></i>
                </div>
            </div>
            <div class="my-auto">
                <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="vote-isdead-{{ type }}">0</h4>
                <p class="card-text font-small-3 mb-0">Vato maty</p>
            </div>
        </div>
    </div>
</div>