{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Configuration{% endblock %}
{% block stylesheets %}{{ parent() }}
    {{ include('Admin/Element/datatable-style.html.twig') }}
    <style>
        
        .float-left{
            float:left;
            margin-right:5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-header row">
                        <div class="content-header-left col-md-9 col-12 mb-2">
                            <div class="row breadcrumbs-top">
                                <div class="col-12">
                                    <div class="breadcrumb-wrapper">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.dashboard') }}">Home</a>
                                            </li>
                                            
                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.configuration.index') }}">Configuration</a></li>
                                            
                                           
                                            <li class="breadcrumb-item active">Edition
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Information</h4>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        
                                        <div class="col-md-3 float-left">
                                            {{ form_row(form.number_men) }}
                                        </div>
                                        <div class="col-md-3 float-left">
                                            {{ form_row(form.number_women) }}
                                        </div>
                                        
                                       
                                        
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-8">
                                        {{ form_row(form.save) }}
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
