{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Vote{% endblock %}
{% block stylesheets %}{{ parent() }}
    {{ include('Admin/Element/datatable-style.html.twig') }}
    {{ include('Admin/Voting/Vote/Common/style.html.twig') }}
{% endblock %}

{% block body %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-header row">
                        <div class="content-header-left col-md-9 col-12 mb-2">
                            <div class="row breadcrumbs-top">
                                <div class="col-12">
                                    <div class="breadcrumb-wrapper">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.dashboard') }}">Home</a>
                                            </li>

                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.voting.vote.index') }}">Vote</a></li>


                                            <li class="breadcrumb-item active">{{ vote.id != "" ? "Edition" : "Ajout"}}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Information</h4>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="row">
                                    <div class="col-md-12 col-12">

                                        <div class="col-md-3 float-left">
                                            {{ form_row(form.num) }}
                                        </div>
                                        <div class="col-md-3 float-left">
                                            {{ form_row(form.isDead) }}
                                        </div>
                                        <div class="col-md-3 float-left">
                                            {{ form_row(form.isWhite) }}
                                        </div>

                                    </div>

                                </div>
                                <div class="row block-candidat d-none">
                                    <div class="row match-height">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <div class="card card-transaction">
                                            <div class="card-header">
                                                <h4 class="card-title">Liste des candidats</h4>
                                                
                                            </div>
                                            <div class="card-body">
                                                
                                                <div class="canditat-item-block">
                                                    {% for candidat in candidats %}
                                                        
                                                        <div class="canditat-item-list col-md-4">
                                                            <div class="col-md-12">
                                                                <div class="col-md-3 canditat-item canditat-item-num">{{candidat.number}}</div>
                                                                <div class="col-md-3 canditat-item canditat-item-avatar">
                                                                    {% set photo = "" %}
                                                                    {% if candidat.photo != "" %}
                                                                        {% set photo = 'upload/profil/' ~ candidat.photo %}
                                                                    {% else %}
                                                                        {% set photo = 'images/illustration/no-image.png' %}
                                                                    {% endif %}
                                                                    <img src="{{ asset(photo ) }}" style="width: 50px" alt="{{ candidat.fullname }}" />
                                                                </div>
                                                                <div class="col-md-3 canditat-item canditat-item-name">{{ candidat.civility~' '~candidat.fullname }}</div>
                                                                <div class="col-md-3 canditat-item canditat-item-checkbox">
                                                                    <div class="custom-checkbox">
                                                                        <input 
                                                                        type="checkbox" 
                                                                        id="candidat_{{ candidat.id }}" 
                                                                        name="candidat[]" 
                                                                            
                                                                        {% if voteResults[candidat.id]  is defined %} 
                                                                            {% if voteResults[candidat.id] == true %}checked{% endif %}
                                                                        {% endif %}
                                                                        value="{{ candidat.id }}"
                                                                        />
                                                                        <label for="candidat_{{ candidat.id }}"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                            
                                </div>
                                <div class="row display-block">
                                    
                                    <div class="col-md-8 float-right">
                                        {{ form_row(form.save) }}
                                    </div>
                                    
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
{% endblock %}
{% block modal %}
    {{ parent() }}
    {{ include('Admin/Voting/Vote/Common/modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ include('Admin/Element/disable-edit.html.twig') }}
    {{ include('Admin/Voting/Vote/Common/javascript.html.twig') }}
   
{% endblock %}