{% extends 'layout_result.html.twig' %}

{% block title %}Résultat des éléctions{% endblock %}
{% block stylesheet %} 
    {{ parent() }}
    {{ include('Result/Common/style.html.twig') }}

    <style>

        .block-resume {
            width: 10%;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 10px;
            position: absolute;
            height: 75vh;
            background:cornsilk;
            margin-top:20px;
        
        }

        .block-resume:first-child {
            border-bottom: none;
        }

        .block-resume .avatar
        {
            margin-right: 0.5em !important;
        }

        .resume-title{
            display:none;
        }

        .block-resume-item{
           width:50%; 
        }

        .block-resume-item .statistic-item{
             margin-left: 23px;
        }

        .block-resume-item .card-text{
             text-align:center;
        }
        

        .list-group-item{
            width:100%;
            height:48px;
            margin-bottom: 5px;
            padding:0px;
            min-width: 190px;
        }
        #data-container-vote {
            height: 120vh;
            overflow: hidden;
        }

        .user-info{
            width: 85px;
            padding-top: 7%;
            padding-left: 5%;
            font-weight: bold;
            text-align: right;
        }

        .user-avatar{
            margin: 0px 15px;

        }

        .data-container-vote-type .data-container-vote-bloq {
            float: left;
            height: 500vh;
            width: 15%;
            flex: 0 1 calc(5% - 20px);
        }

        .w-px-50 {
            width: 45px !important;
            height: 45px!important;
            margin-top: 3px;
        }

        .add-btn .badge {
            font-size: 33px;
            font-weight: bold;
            height: 47px;
            margin: auto;
            padding: 11px;
            width: 100%;
        }

        .add-btn{
            width: 100%;
            text-align: right;
        }
        .result-bloq-list{
            margin-left:10px;
        }
        .block-resume-item .avatar-content {
            width: 48px;
            height: 48px;
            display:none;
        }
        
    </style>
{% endblock %}
{% block body %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>

        <div class="content-wrapper">
            {# <div class="content-header row">
                <a href="javascript:;" class="btn btn-primary waves-effect waves-float waves-light">Vokatra vonjimaika</a>
            </div> #}
            {{ include('Result/Common/resume.html.twig', {'type' : civility}) }}
            <div class="content-body">
                {# <div class="row">
                    <div class="col-xl-12 col-md-12 col-12">
                        <div class="card card-statistics">
                            <div class="card-header d-none">
                                <h4 class="card-title"></h4>
                                <div class="d-flex align-items-center">
                                    
                                </div>
                            </div>
                            <div class="card-body statistics-body">
                                
                                
                            </div>
                        </div>
                    </div>
                </div> #}

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10 result-bloq-list">
                        <h4 class="mb-2"></h4>
                        <div class="card">
                            <div class="card-body">
                                <div class="{# list-group  #}col-md-12 data-container-vote" id="data-container-vote">
                                    {# data content #}
                                    
                                    <div class="col-md-12 float-left data-container-item">
                                        <legend class="text-primary">{{ typeName | capitalize }}</legend>
                                        
                                        <span id="vote-table-{{ civility }}-title" class="d-none">Voka-pifidianana ho an'ny {{ typeName }}</span>
                                        
                                        <a href="{{ path('app.admin.voting.vote.export.result', {'type' : type}) }}" target="_blank" data-aria="vote-table-mme" class="btn btn-primary btn-export-pdf">Dika PDF</a>
                                     
                                        <div id="data-container-vote-{{ type }}" class="data-container-vote-type col-md-12 float-left" data-type="{{ type }}">
                                            <div id="data-container-vote-1" class="data-container-vote-bloq">
                                            
                                            </div>
                                            <div id="data-container-vote-2" class="data-container-vote-bloq">
                                            
                                            </div>
                                            <div id="data-container-vote-3" class="data-container-vote-bloq">
                                            
                                            </div>
                                            <div id="data-container-vote-4" class="data-container-vote-bloq">
                                            
                                            </div>
                                            <div id="data-container-vote-5" class="data-container-vote-bloq">
                                            
                                            </div>
                                            <div id="data-container-vote-6" class="data-container-vote-bloq">
                                            
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    {#     START : script #}
    
    {{ include('Result/Common/javascript.html.twig') }}
    {#     END : script #}
{% endblock %}


