{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Candidats{% endblock %}
{% block stylesheets %}{{ parent() }}
    {{ include('Admin/Element/datatable-style.html.twig') }}
    <style>
        .field-d-none + .form-check-label{
            display:none;
        }

        .field-pwd{
            float:left;
            margin-right:50px;
        }
        .photo-profile{
            width: 150px;
            height: 150px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="app-content content ">
        <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
                <div class="content-wrapper container-xxl p-0">
                    <div class="content-header row">
                        <div class="content-header-left col-md-9 col-12 mb-2">
                            <div class="row breadcrumbs-top">
                                <div class="col-12">
                                    <div class="breadcrumb-wrapper">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.dashboard') }}">Home</a>
                                            </li>
                                            
                                            <li class="breadcrumb-item"><a href="{{ path('app.admin.voting.candidat.index') }}">Candidat</a></li>
                                            
                                           
                                            <li class="breadcrumb-item active">{{ candidat.id != "" ? "Edition" : "Ajout"}}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Information</h4>
                                <div class="col-md-3 d-none">
                                    {% if candidat.id %}
                                        {{ include('Admin/voting/candidat/_delete_form.html.twig') }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                <div class="row">
                                    <div class="mb-1">
                                        
                                    </div>
                                    <div class="col-md-12 col-12">
                                        <div class="mb-1">
                                            {{ form_label(form.photo) }}
                                            {% set photo = "" %}
                                            {% if candidat.photo != "" %}
                                                {% set photo = 'upload/profil/' ~ candidat.photo %}
                                            {% else %}
                                                {% set photo = 'images/illustration/no-image.png' %}
                                            {% endif %}
                                            <div>
                                                
                                                <img class="photo-profile" src="{{ asset(photo) }}" alt="Photo">
                                            </div>
                                            {{ form_widget(form.photo) }}
                                        </div>
                                        

                                    </div>
                                    <div class="col-md-6 col-6">
                                        <div class="mb-1">
                                            {{ form_row(form.civility) }}
                                        </div>
                                        <div class="mb-1">
                                            {{ form_row(form.firstname) }}
                                        </div>
                                        <div class="mb-1">
                                            {{ form_row(form.lastname) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-6" d-none>
                                        <div class="mb-1">
                                            {{ form_row(form.number) }}
                                        </div>
                                        <div class="mb-1">
                                            {{ form_row(form.status) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        {{ form_row(form.save) }}
                                    </div>

                                    <div class="col-md-3"></div>
                                   
                                </div>
                                {{ form_end(form) }}
                            </div>

                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ include('Admin/Element/disable-edit.html.twig') }}
   
{% endblock %}