{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    
{% endblock %}

{% block body %}

        <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Bienvenue 🎉 {{ app.user.getFullName() }}!</h5>
                                    <p class="card-text font-small-3">Bonne journée</p>
                                    
                                    <img src="{{ asset('images/illustration/badge.svg') }}" class="congratulation-medal" alt="Medal Pic" />
                                </div>
                            </div>
                        </div>
                        <!--/ Medal Card -->

                        <!-- Statistics Card -->
                        <div class="col-xl-8 col-md-6 col-12">
                            
                        </div>
                        <!--/ Statistics Card -->
                    </div>


                    <div class="row">
                        
                    </div>
                </section>
                <!-- Dashboard Ecommerce ends -->

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
   {{ parent() }}
   {{ include('Admin/Dashboard/Common/javascript.html.twig') }}
{% endblock %}
