{% extends 'base-admin.html.twig' %}

{% block title %}{{ parent() }} Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    
{% endblock %}

{% block body %}

        <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-4 col-md-6 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Bienvenue 🎉 {{ app.user.getFullName() }}!</h5>
                                    <p class="card-text font-small-3">Bonne journée</p>
                                    
                                    <img src="{{ asset('images/illustration/badge.svg') }}" class="congratulation-medal" alt="Medal Pic" />
                                </div>
                            </div>
                        </div>
                        <!--/ Medal Card -->

                        <!-- Statistics Card -->
                        <div class="col-xl-8 col-md-6 col-12">
                            
                        </div>
                        <!--/ Statistics Card -->
                    </div>


                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card card-statistics">
                                <div class="card-header">
                                    <h4 class="card-title">Candidat</h4>
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </div>
                                <div class="card-body statistics-body">
                                    <div class="row">
                                        
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-all" data-type="all">{{ candidats['total'] }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Nombre Total</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-new" data-type="new">{{ candidats['women']}}</h4>
                                                    <p class="card-text font-small-3 mb-0">Nombre de femme</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="users" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-new" data-type="new">{{ candidats['men']}}</h4>
                                                    <p class="card-text font-small-3 mb-0">Nombre d'homme</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card card-statistics">
                                <div class="card-header">
                                    <h4 class="card-title">Résultat</h4>
                                    <div class="d-flex align-items-center">
                                        
                                    </div>
                                </div>
                                <div class="card-body statistics-body">
                                    <div class="row">
                                        
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="command" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-all" data-type="all">{{ votingCount['total'] }}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vote Total</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-info me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="check" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-new" data-type="new">{{ votingCount['isGood']}}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vote accépté</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-danger me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="x" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-new" data-type="new">{{ votingCount['isWhite']}}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vote blanc</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="d-flex flex-row">
                                                <div class="avatar bg-light-danger me-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="x" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="my-auto">
                                                    <h4 class="fw-bolder mb-0 statistic-item customer-stat" id="customer-new" data-type="new">{{ votingCount['isDead']}}</h4>
                                                    <p class="card-text font-small-3 mb-0">Vote null</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Dashboard Ecommerce ends -->

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
   {{ parent() }}
   {{ include('Admin/Dashboard/Common/javascript.html.twig') }}
{% endblock %}
