{% set _router = app.request.attributes.get('_route') %}
<div class="main-menu-content">
    <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        
        <li class=" nav-item">
            <a class="d-flex align-items-center" href="{{ path('app.admin.dashboard') }}">
                <i data-feather="home"></i>
                <span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span>
            </a>
        </li>
        <li class=" navigation-header">
            <span data-i18n="Fonctionnalités">Fonctionnalités</span>
            <i data-feather="more-horizontal"></i>
        </li>
        <li class="{{ _router in ['app.admin.voting.candidat.index', 'app.admin.voting.candidat.edit', 'app.admin.voting.candidat.new'] ? 'active' : '' }} nav-item">
            <a class="d-flex align-items-center" href="javascript:;">
                <i data-feather="command"></i>
                <span class="menu-title text-truncate" data-i18n="Vote">Vote</span>
            </a>
            <ul class="menu-content">
                <li class="{{ _router in ['app.admin.voting.candidat.index', 'app.admin.voting.candidat.edit', 'app.admin.voting.candidat.new', 'app.admin.voting.vote.index', 'app.admin.voting.vote.edit', 'app.admin.voting.vote.new'] ? 'active' : '' }}">
                    <a class="d-flex align-items-center" href="{{ path('app.admin.voting.candidat.index') }}">
                        <i data-feather="circle"></i>
                        <span class="menu-item text-truncate" data-i18n="Candidat">Candidat</span>
                    </a>
                </li>
                <li class="{{ _router in ['app.admin.voting.vote.index', 'app.admin.voting.vote.edit', 'app.admin.voting.vote.new'] ? 'active' : '' }}">
                    <a class="d-flex align-items-center" href="{{ path('app.admin.voting.vote.index') }}">
                        <i data-feather="circle"></i>
                        <span class="menu-item text-truncate" data-i18n="Vote">Vote</span>
                    </a>
                </li>
            </ul>
        </li>
        
       
        
        <li class=" navigation-header">
            <span data-i18n="Parametrages">Parametrages</span>
            <i data-feather="more-horizontal"></i>
        </li>
        <li class="{{ _router in ['app.admin.user.team.index', 'app.admin.user.team.new', 'app.admin.user.team.edit'] ? 'active' : '' }} nav-item">
            <a class="d-flex align-items-center" href="{{ path('app.admin.user.team.index') }}">
                <i data-feather="users"></i>
                <span class="menu-title text-truncate" data-i18n="Utilisateurs">Utilisateurs</span>
            </a>
        </li>
        
        
    </ul>
</div>